<link rel="stylesheet" href="app.css">
<h1>JOIN THE FIGHT</h1>
<p class="lead"> Enter your email to join samuria showdown!  
    <br>
    <strong> <%=data%> </strong> others are already here!
</p>


<form action="/register" method="POST">
    <input type="text" class="form" name="email" placeholder="Enter Your Email">
    <button>Join Now</button>
</form>